<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<title>Tara Potter | Mosaic Artist and Creator of Maitri Mosaics</title>
	</head>
	<body id="static_home">
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="paint brush icon"></i>Maitri Mosaics</div>
				<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
			</div>
		</div>
		<div class="ui main text container" id="title">
			<h1>Maitri Mosaics by Tara Potter</h1>
		</div>
	</body>
</html>