<% include ../partials/header %>

<div class="container fill" id="static_home">
	<h1>Maitri Mosaics by Tara Potter</h1>
</div>

<script type="text/javascript" src="/scripts/home.js"></script>

<% include ../partials/footer %>
